 h1{
  font-family: georgia;
  color:aqua;
}

 p{
  font-family: courier new;
  color:darkviolet;
}

h2{
 font-family: lucida console;
 color:dodgerblue;
}

body {
 background-image: https://github.com/dhstanwensiportia/dhstanwensiportia.github.io/blob/master/20180305_224345%20(1).jpg;
}
